.productListWrapper {
    padding: 15px;
}
.productListWrapper .productList {
    display: flex;
    justify-content: space-around;
}
.productListWrapper .productList .productWrapper {
    border: 1px #a31919 solid;
    padding: 5px;
    text-decoration: none;
}
.productListWrapper .productList .productWrapper:hover {
    background-color: #ffa4a4;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
