.itemDetailWrapper {
    background: white;
    padding: 10px;
    position: fixed;
    width: 600px;
    top: 40px;
    left: calc(50% - 300px);
    bottom: 40px;
    z-index: 100;
    box-shadow: 0 3px 6px #000, 0 3px 6px #000;
}
.itemDetailWrapper .itemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.itemDetailWrapper .itemDetail img {
    width: 200px;
}
.itemDetailWrapper .itemDetail .button2 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: darkred;
}
.itemDetailWrapper .itemDetail .button2:hover {
    background-color: #a31919;
}
.itemDetailWrapper .itemDetail .buttonClose {
    margin-top: 10px;
}
